## <a id='versions'></a>Versions ##

Two major versions of the Service Broker API are currently supported by Cloud
Foundry, v1 and v2.
As v1 is deprecated and support will be removed in the next major version of
Cloud Foundry, it is recommended that all new brokers implement v2 and that current
brokers are upgraded.

<div style="width:75%">
  <table border="1" class="nice">
    <thead>
      <tr>
        <th>Current Version</th>
        <th>Past Versions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="api.html">2.6</a><br/>
          <a href="asynchronous-operations.html">Asynchronous Operations - Experimental</a>
        </td>
        <td>
          <a href="api-v2.5.html">2.5</a><br/>
          <a href="api-v2.4.html">2.4</a><br/>
          <a href="api-v2.3.html">2.3</a><br/>
          <a href="api-v2.2.html">2.2</a><br/>
          <a href="api-v2.1.html">2.1</a><br/>
          <a href="api-v2.0.html">2.0</a><br/>
          <a href="api-v1.html">v1 (unversioned)</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
