---
title: Cloud Foundry API and CLI compatibility
owner: Services Enablement
---



This topic tells you about what versions of the Cloud Foundry API and CLI support each version of the
Service Broker API.


## v2.11

<table>
  <tr>
  	<td>cf-release</a></td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v250">v250</a></td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.66</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.14.0">v6.14.0</a></td>
  </tr>
 </table>

## v2.10

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v240">v240</td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.61</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.14.0">v6.14.0</a></td>
  </tr>
 </table>

## v2.9

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v238">v238</td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.57.0</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.14.0">v6.14.0</a></td>
  </tr>
 </table>


## v2.8

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v226">v226</td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.44.0</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.14.0">v6.14.0</a></td>
  </tr>
 </table>


## v2.7

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v220">v220</td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.37.0</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.12.1">v6.12.1</a></td>
  </tr>
 </table>


## v2.6

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v213">v213</td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.33.0</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.12.1">v6.12.1</a></td>
  </tr>
 </table>


## v2.5

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v209">v209</td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.27.0</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.12.1">v6.12.1</a></td>
  </tr>
 </table>


## v2.4

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v192">v192</td>
  </tr>
  <tr>
  	<td>Cloud Controller API</td>
  	<td>v2.17.0</td>
  </tr>
  <tr>
  	<td><code>cf CLI</code></td>
  	<td><a href="https://github.com/cloudfoundry/cli/releases/tag/v6.7.0">v6.7.0</a></td>
  </tr>
 </table>


## v2.3

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v169">v169</td>
  </tr>
 </table>


## v2.2

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v164">v164</td>
  </tr>
 </table>


## v2.1

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v152">v152</td>
  </tr>
 </table>


## v2.0

<table>
  <tr>
  	<td>cf-release</td>
  	<td><a href="https://github.com/cloudfoundry/cf-release/releases/tag/v148">v148</td>
  </tr>
 </table>
